anthropic>=0.40.0
asgiref==3.11.1
boto3==1.42.73
botocore==1.42.73
cffi==2.0.0
cryptography==46.0.5
Django==5.2.5
django-cors-headers==4.9.0
djangorestframework==3.17.0
google-auth==2.49.1
jmespath==1.1.0
numpy==2.2.2
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
PyJWT==2.8.0
python-dotenv==1.2.2
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
